* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 150px;
  text-align: start;
}

.logoinstagram {
  width: 40px;
}

.logofacebook {
  width: 80px;
}

#contenedor {
  background-color: #aaa5a5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "cabecera" "hero" "info";
}

.cabecera {
  grid-area: cabecera;
}

.hero {
  grid-area: hero;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja-container {
  grid-area: caja;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  grid-area: info;
  padding-top: 10px;
}

#cabecera {
  background-color: #a9a9a9;
}

#contenedor {
  background-color: #aaa5a5;
}

.nav-link {
  text-align: end;
}

.menu ul {
  font-size: 16px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
.menu ul li {
  font-weight: bolder;
  display: inline-block;
}
.menu ul a {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.menu ul a:hover {
  color: #000000;
  cursor: pointer;
}

.img {
  margin: 2px;
  width: 255px;
  height: 330px;
  margin: 2px;
  border: ridge 1px #000000;
  border-radius: 10%;
}

.titulo-container {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #aaa5a5;
}

.novedades-container {
  width: 300px;
  margin: 0;
}
.novedades-container.caja {
  display: block;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border: ridge 1px #000000;
  border-radius: 5%;
  margin: 0;
  padding: 0;
}

.img_caja1, .img_caja2, .img_caja3, .img_caja4 {
  width: 170px;
  height: 230px;
}

.h1, .h2, .h3, .h4, .h5 {
  font-family: "Niramit", Sans-serif;
  text-align: center;
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .novedades-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-left: 50px;
    padding-top: 30px;
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  #contenedor {
    background-color: #a9a9a9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "cabecera" "hero" "info";
  }
  .cabecera {
    grid-area: cabecera;
    display: block;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 10px;
  }
  .imagen_principal {
    flex-direction: row;
  }
  .hero {
    background-color: #aaa5a5;
    grid-area: hero;
    padding-bottom: 10px;
  }
  .hero .contenedor-caja {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 50px;
    width: 100%;
  }
  .hero .contenedor-caja.caja {
    padding: 0;
    margin: 0;
    width: 30%;
  }
  .hero .novedades-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 50px;
    width: 100%;
  }
  .hero .novedades-container.caja {
    padding: 0;
    margin: 0;
    width: 30%;
  }
  .titulo-container {
    display: flex;
    padding: 0;
  }
  .img_caja1, .img_caja2, .img_caja3, .img_caja4 {
    width: 300px;
    height: 350px;
  }
  .img {
    width: 300px;
    height: 350px;
  }
  .info {
    grid-area: info;
  }
  .h1, .h2, .h3 {
    text-align: center;
  }
}
.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 0;
}

.contenedor-caja {
  width: 300px;
  margin: 0;
}
.contenedor-caja .caja {
  display: block;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border: ridge 1px #000000;
  border-radius: 5%;
  margin: 0;
  padding: 0;
}
.contenedor-caja .caja:hover {
  cursor: pointer;
  transform: translate(150px, 0px);
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(150px, 0px);
  -ms-transform: translate(150px, 0px);
  -o-transform: translate(150px, 0px);
  font-weight: bold;
}

.img_tabla {
  width: 300px;
  height: 350px;
  border-radius: 5%;
}

.form-register {
  width: 400px;
  background: #a9a9a9;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  border-radius: 4px;
  font: sans-serif;
  color: #000000;
  box-shadow: 7px 13px 37px #000000;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register a {
  color: #ffffff;
  text-decoration: none;
}
.form-register a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: #ffffff;
  margin: 16px 0;
  font-size: 16px;
}

.controls {
  width: 100%;
  background: 10px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font: sans-serif;
  font-size: 18px;
}

.video {
  height: 250px;
  width: 450px;
  border: solid 2px pink;
}

#hero {
  display: block;
}/*# sourceMappingURL=main.css.map */