* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 150px;
  text-align: start;
}

.logoinstagram {
  width: 40px;
}

.logofacebook {
  width: 80px;
}

#contenedor {
  background-color: #aaa5a5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "cabecera" "hero" "info";
}

.cabecera {
  grid-area: cabecera;
  background-color: #a9a9a9;
}

.hero {
  grid-area: hero;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planta {
  margin: 2px;
  width: 170px;
  height: 230px;
  margin: 2px;
  border: ridge 1px #00ffff;
  border-radius: 10%;
}

.souvenirs {
  margin: 2px;
  width: 170px;
  height: 230px;
  margin: 2px;
  border: ridge 1px #d87093;
  border-radius: 10%;
}

.caja-container {
  grid-area: caja;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notificacion-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  grid-area: info;
  padding-top: 10px;
  padding-bottom: 50px;
}

#contenedor {
  background-color: #aaa5a5;
}

.nav-link {
  text-align: end;
}

.menu ul li {
  display: inline-block;
}
.menu ul a:hover {
  cursor: pointer;
}

.titulo-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

.novedades-container {
  width: 300px;
  margin: 0;
}
.novedades-container.caja {
  display: block;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border: ridge 1px #000000;
  border-radius: 5%;
  margin: 0;
  padding: 0;
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  #contenedor {
    background-color: #a9a9a9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "cabecera" "hero" "info";
  }
  .cabecera {
    grid-area: cabecera;
    display: block;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 10px;
  }
  .imagen_principal {
    flex-direction: row;
  }
  .hero {
    background-color: #aaa5a5;
    grid-area: hero;
    padding-bottom: 10px;
  }
  .hero .contenedor-caja {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 50px;
    width: 100%;
  }
  .hero .contenedor-caja.caja {
    padding: 0;
    margin: 0;
    width: 10%;
  }
  .hero .novedades-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    gap: 10px;
    width: 100%;
  }
  .hero .novedades-container .caja {
    padding: 0;
    margin: 0;
    width: 30%;
  }
  .hero .novedades-container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    gap: 10px;
    width: 100%;
  }
  .hero .novedades-container1 .caja {
    padding: 0;
    margin: 0;
    width: 30%;
  }
  .hero .notificacion-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .titulo-container {
    display: flex;
    padding: 0;
  }
  .planta {
    width: 170px;
    height: 230px;
    border-radius: 5%;
  }
  .souvenirs {
    width: 170px;
    height: 230px;
    border-radius: 5%;
  }
  .info {
    grid-area: info;
  }
  .video {
    height: 250px;
    width: 450px;
  }
}
@media only screen and (min-width: 1280px) {
  #contenedor {
    background-color: #a9a9a9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "cabecera" "hero" "info";
  }
  .cabecera {
    grid-area: cabecera;
    display: block;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 10px;
  }
  .imagen_principal {
    flex-direction: row;
  }
  .hero {
    background-color: #aaa5a5;
    grid-area: hero;
    padding-bottom: 10px;
  }
  .hero .contenedor-caja {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 50px;
    width: 100%;
  }
  .hero .contenedor-caja.caja {
    padding: 0;
    margin: 0;
    width: 30%;
  }
  .hero .novedades-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    gap: 10px;
    width: 100%;
  }
  .hero .novedades-container .caja {
    padding: 0;
    margin: 0;
    width: 30%;
  }
  .hero .notificacion-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
  }
  .hero .notificacion-container .video {
    height: 250px;
    width: 450px;
  }
  .titulo-container {
    display: flex;
    padding-bottom: 10px;
  }
  .planta {
    width: 300px;
    height: 350px;
  }
  .souvenirs {
    width: 300px;
    height: 350px;
  }
  .info {
    grid-area: info;
  }
}
.novedades-container {
  width: 300px;
  margin: 0;
}
.novedades-container .caja {
  display: block;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 5%;
  margin: 0;
  padding: 0;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 0;
}

.contenedor-caja {
  width: 175px;
  margin: 0;
}
.contenedor-caja .caja {
  display: block;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 5%;
  margin: 0;
  padding: 0;
}
.contenedor-caja .caja:hover {
  cursor: pointer;
  transform: translate(150px, 0px);
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(150px, 0px);
  -ms-transform: translate(150px, 0px);
  -o-transform: translate(150px, 0px);
  font-weight: bold;
}

.form-register {
  width: 300px;
  background: #a9a9a9;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
  border-radius: 4px;
  font: sans-serif;
  color: #000000;
  box-shadow: 7px 13px 37px #000000;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register a {
  color: #ffffff;
  text-decoration: none;
}
.form-register a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: #ffffff;
  margin: 16px 0;
  font-size: 16px;
}

.controls {
  width: 100%;
  background: 10px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font: sans-serif;
  font-size: 18px;
}

.video {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */