@import '../variables/variable';
.contenedor-caja {
    width: $ancho;
    margin: 0;
    
    
    & .caja{
    display: block;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: ridge 1px $color-black;
    border-radius: 5%;
    margin: 0;
    padding: 0;
    
   
}

    & .caja:hover {
        cursor: pointer;
        transform: translate(150px, 0px);
        -webkit-transform: translate(0px, -50px);
        -moz-transform: translate(150px, 0px);
        -ms-transform: translate(150px, 0px);
        -o-transform: translate(150px, 0px);
        font-weight: bold;
    }

}

.img_tabla {
    width: $ancho;
    height: $alto;
    border-radius: 5%;
}