

table {
    text-align: center;
    width: auto;
    border-collapse: collapse;
}


th,
td {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

thead {
    background-color: #1f53c5;
    color: white;
    border-bottom: solid 5px aquamarine;
}

tr:hover td {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

td {
    font-weight: bold;
}

.img_tabla {
    width: 200px;
    border-radius: 5%;

}