@import '../variables/variable';
table {

    text-align: center;
    border-collapse: collapse;

    & th,
    td {
        padding: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }

    & td:hover {
        cursor: pointer;
        transform: translate(150px, 0px);
        -webkit-transform: translate(0px, -50px);
        -moz-transform: translate(150px, 0px);
        -ms-transform: translate(150px, 0px);
        -o-transform: translate(150px, 0px);
        font-weight: bold;
    }

}

.img_tabla {
    width: calc($ancho/1.1);
    border-radius: 5%;
}