@import '../variables/variable';

#cabecera{
    background-color: $color-darkgrey;
}
#contenedor{
    background-color: $color-darkgrey-claro ;
}
.nav-link {
    text-align: end;
}


.menu ul {
    font-size: 16px;
    list-style: none;
    text-align: center;
    text-transform: uppercase;

    & li{
        font-weight: bolder;
        display: inline-block;
    }
    & a{
        color: $color-black;
        font-family: Arial, Helvetica, sans-serif;
    }
    & a:hover{
        color: $color-black;
        cursor: pointer;
    }



}
.img  {
    margin: 2px;
    width: 255px;
    height: 330px ;
    margin: 2px;
    border: ridge 1px $color-black;
    border-radius: 10%;
}
.titulo-container{
 
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: $color-darkgrey-claro ;
   
}
.novedades-container{
    width: $ancho;
    margin: 0;


    &.caja{
        display: block;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        border: ridge 1px $color-black;
        border-radius: 5%;
        margin: 0;
        padding: 0;
    }
    
} 

.img_caja1,.img_caja2,.img_caja3,.img_caja4{
    width: 170px;
    height: 230px;
}

.h1,.h2,.h3,.h4,.h5
 {
    font-family:  "Niramit",Sans-serif;
    text-align: center; 
}

.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    
}

