@use '../variables/variable' as c;

#contenedor{
    background-color: c.$color-darkgrey-claro ;
}
.nav-link {
    text-align: end;
}


.menu ul {

    & li{
        display: inline-block;
    }
    & a:hover{
        cursor: pointer;
    }



}

.titulo-container{
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.novedades-container{
    width: c.$ancho;
    margin: 0;


    &.caja{
        display: block;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        border: ridge 1px c.$color-black;
        border-radius: 5%;
        margin: 0;
        padding: 0;
    }
    
} 





.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    
}

