@use '../variables/variable' as c;



.nav-link {
    text-align: end;
}


.menu ul {

    & li{
        display: inline-block;
    }
    & a:hover{
        cursor: pointer;
    }

}

.titulo-container{
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.novedades-container{
    width: 300px;
    margin: 0;
} 






