@import '../variables/variable';


@media only screen and (min-width: 1280px) {
    #cabecera {
        grid-area: cabecera;
        display: block;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 10px;
    }

    .imagen_principal {
        flex-direction: row;
    }

    #hero {
        
        padding-bottom: 10px;
        
        & .caja{
            display: flex;
            flex-direction: row;
        }
    }
    .img{
        width:$ancho;
    }
   
}
