@use '../variables/variable' as c;

@media only screen and (min-width:768px) {
    .imagen_principal {
        flex-direction: row;
    }
#hero {
    padding-bottom: 10px;
    z-index: 10;
    & .novedades-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        height: 100%;
        justify-content: center;

        & .caja {
            text-align: center;
            overflow: hidden;
            position: relative;

            & .hover {
                width: 0%;
                background-color:c.$color-dark-black ;
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                & p {
                    color: c.$color-white ;
                    text-shadow: 1px 1px 1px c.$color-black ;
                    font-size: 2rem;
                }
            }

        }

        & .caja:hover .hover {
            width: 100%;
            height: 100%;
            
        }

    }

        
        & .notificacion-container {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        }

    }
    .titulo-container{
        display: flex;
        padding: 0;
    }
    .text{
        width: 600px ;
    }
    @mixin imagenes {
        width: 200px;
        height: 250px;
        border-radius: 5%
    }
    .planta{
        @include imagenes;
    }
    .souvenirs{
        @include imagenes;
    }
    


    .video {
        height: 250px;
        width: 450px;
        
    }

}



@media only screen and (min-width:1280px) {
    .imagen_principal {
        flex-direction: row;
    }

    #hero {
        padding-bottom: 10px;

        & .novedades-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            justify-content: center;
            
        }
        & .notificacion-container {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
            width: 100%;

            & .video {
                height: 250px;
                width: 450px;
            }
        }

    }
    .titulo-container{
        display: flex;
        padding-bottom: 10px;
    }
    .text{
        width: 900px ;
        
    }
    @mixin imagenes {
        width: c.$ancho;
        height: c.$alto;
    }
    .planta{
        @include imagenes;
    }
    .souvenirs{
        @include imagenes;
    }
    
        

}