@use '../variables/variable' as c;

@media only screen and (min-width:768px) {
    #contenedor {
        background-color: c.$color-darkgrey;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "cabecera"
            "hero"
            "info"
        ;

    }

    .cabecera {
        grid-area: cabecera;
        display: block;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 10px;
    }

    .imagen_principal {
        flex-direction: row;
    }

    .hero {
        background-color: c.$color-darkgrey-claro;
        grid-area: hero;
        padding-bottom: 10px;

        & .novedades-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;   
            justify-content: center; 
        }
        
        & .notificacion-container {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        }

    }
    .titulo-container{
        display: flex;
        padding: 0;
    }
    .text{
        width: 600px ;
        & p{
            text-align: start;
        }
    }
    @mixin imagenes {
        width: 200px;
        height: 250px;
        border-radius: 5%;
    }
    .planta{
        @include imagenes;
    }
    .souvenirs{
        @include imagenes;
    }
    

    .info{
        grid-area: info;
        
        
    }    
    .video {
        height: 250px;
        width: 450px;
        
    }

}



@media only screen and (min-width:1280px) {
    #contenedor {
        background-color: c.$color-darkgrey;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "cabecera"
            "hero"
            "info"
        ;

    }

    .cabecera {
        grid-area: cabecera;
        display: block;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 10px;
    }

    .imagen_principal {
        flex-direction: row;
    }

    .hero {
        background-color: c.$color-darkgrey-claro;
        grid-area: hero;
        padding-bottom: 10px;

        & .novedades-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            justify-content: center;
        }
        & .notificacion-container {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
            width: 100%;

            & .video {
                height: 250px;
                width: 450px;
            }
        }

    }
    .titulo-container{
        display: flex;
        padding-bottom: 10px;
    }
    .text{
        width: 900px ;
        & p{
            text-align: start;
        }
    }
    @mixin imagenes {
        width: c.$ancho;
        height: c.$alto;
    }
    .planta{
        @include imagenes;
    }
    .souvenirs{
        @include imagenes;
    }
    
    .info{
        grid-area: info;
        
    }       

}