@import '../variables/variable';
.plant {
    width: $ancho;
    border: ridge 1px $color-black;
    border-radius: 5%;
    margin: 1px;

}


h5 {
    
    color: $color-white;
    text-shadow: 1px 0px 0px $color-black, 0px 1px 0px $color-black, -1px 0px 0px $color-black, 0px -1px 0px $color-black;

}
