@import '../variables/variable';
.plant {
    width: $ancho;
    height: $alto; 
   

}
.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0;
}

