
.plant {
    width: 300px;
    border: ridge 1px black;
    border-radius: 5%;
    margin: 1px;

}


h5 {
    
    color: white;
    text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;

}
