$color-black:#000000;
$color-white:#ffffffdc;
$color-white-red:#c0afaf;
$color-white-pink:#f8dddd;
$color-darkgrey: #a9a9a9;
$color-dark-black: #38353595;
$color-celeste:#1f53c5;
$color-darkgrey-claro:#aaa5a5;
$color-pink: #d87093;
$color-aqua: #00ffff;

